.App{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

}

.nav{
  list-style-type: none;
  width: 600px;
  display: flex;
  justify-content: space-evenly;
}

.nav a{
  text-decoration: none;
  font-weight: bold;
  color: #000;
  transition: all 0.2s ease-in-out;
  letter-spacing: 2px;
  padding: 6px;
  
}

.nav a:hover{
  color: #1e4471;
  box-shadow: 0px 4px #64bbe3;
}

